{% extends '@ShmUser/corner.html.twig' %}

{% block title %}Group creation{% endblock %}

{% block body %}
    <h1>Group creation</h1>

    <div class="btn-toolbar" role="group" aria-label="New actions">

        <div class="btn-group" role="group" aria-label="Save action">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
            </button>
            {{ form_end(form) }}
        </div>

        <div class="btn-group" role="group" aria-label="Back action">
            <a href="{{ path('groups_index') }}">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>
                </button>
            </a>
        </div>
    </div>
{% endblock %}
